.jumbotron {
  background: linear-gradient(#4b1f6a, #b92d77);
  color: #fff;
}

.user-form,
.user-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div[class^="user-form"],
div[class*=" user-form"],
.user-form__submit {
  display: inline-block;
  margin: 20px 0;
}

.user-form__name {
  width: 200px;
}

button.user-form__submit {
  background: linear-gradient(#4b1f6a, #b92d77);
  border: none;
  max-height: 50px;
}

.break {
  flex-basis: 100%;
  height: 0;
}
